@import "tailwindcss";


:root {
  --color-white: white;
  --color-red: #000;
  --color-black: black;
  --color-blue: blue;
  --color-white-alt: white;
  --color-black-alt: black;
}

@theme inline {
  
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
}