@import "tailwindcss";

:root {
  --color-background: #101010;
}

@theme inline {
  --color-background: var(--color-background);

  --font-tektur: var(--font-tektur);
  --font-noto_serif: var(--font-noto_serif);
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ababab;
  border-radius: 4px;
  border: 2px solid transparent;
}

.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 7px;
  scale: 0.9;
}