@import "tailwindcss";


:root {
  --color-background: #101010;
}

@theme inline {
  --color-background: var(--color-background);

  --font-tektur: var(--font-tektur);
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
}